# copy this file as "credentials.lua" and fill in the passwords

d_credentials = {
    ["wifi_home_downstairs"] = "",
    ["wifi_home_upstairs"] = "",
    ["wifi_production"] = "",
    
    ["thingspeak_api_key"] = ""
}
